
@{ if (Session["adminid"] == null)
    {
        Response.Redirect("/Admin/Login/");
    }}
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from colorlib.com/etc/lf/Login_v2/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Apr 2023 07:46:34 GMT -->
<head>
    <title>MENU</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content/Menü/colorlib.com/etc/lf//Login_v2/images/icons/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Menü/colorlib.com/etc/lf//Login_v2/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Menü/colorlib.com/etc/lf//Login_v2/fonts/iconic/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/css-hamburgers/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/animsition/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Menü/colorlib.com/etc/lf//Login_v2/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Menü/colorlib.com/etc/lf//Login_v2/css/main.css">

    <meta name="robots" content="noindex, follow">
    <script nonce="73f7c3df-aedb-4e73-81e9-a7d7401abc7b">(function (w, d) { !function (dk, dl, dm, dn) { dk[dm] = dk[dm] || {}; dk[dm].executed = []; dk.zaraz = { deferred: [], listeners: [] }; dk.zaraz.q = []; dk.zaraz.f = function (dp) { return function () { var dq = Array.prototype.slice.call(arguments); dk.zaraz.q.push({ m: dp, a: dq }) } }; for (const dr of ["track", "set", "debug"]) dk.zaraz[dr] = dk.zaraz._f(dr); dk.zaraz.init = () => { var ds = dl.getElementsByTagName(dn)[0], dt = dl.createElement(dn), du = dl.getElementsByTagName("title")[0]; du && (dk[dm].t = dl.getElementsByTagName("title")[0].text); dk[dm].x = Math.random(); dk[dm].w = dk.screen.width; dk[dm].h = dk.screen.height; dk[dm].j = dk.innerHeight; dk[dm].e = dk.innerWidth; dk[dm].l = dk.location.href; dk[dm].r = dl.referrer; dk[dm].k = dk.screen.colorDepth; dk[dm].n = dl.characterSet; dk[dm].o = (new Date).getTimezoneOffset(); if (dk.dataLayer) for (const dy of Object.entries(Object.entries(dataLayer).reduce(((dz, dA) => ({ ...dz[1], ...dA[1] }))))) zaraz.set(dy[0], dy[1], { scope: "page" }); dk[dm].q = []; for (; dk.zaraz.q.length;) { const dB = dk.zaraz.q.shift(); dk[dm].q.push(dB) } dt.defer = !0; for (const dC of [localStorage, sessionStorage]) Object.keys(dC || {}).filter((dE => dE.startsWith("_zaraz"))).forEach((dD => { try { dk[dm]["z_" + dD.slice(7)] = JSON.parse(dC.getItem(dD)) } catch { dk[dm]["z_" + dD.slice(7)] = dC.getItem(dD) } })); dt.referrerPolicy = "origin"; dt.src = "../../../cdn-cgi/zaraz/sd0d9.js?z=" + btoa(encodeURIComponent(JSON.stringify(dk[dm]))); ds.parentNode.insertBefore(dt, ds) };["complete", "interactive"].includes(dl.readyState) ? zaraz.init() : dk.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, "zarazData", "script"); })(window, document);</script>
</head>
<body>
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-26">
                    MENÜ
                </span>
                <div class="row">
                    <div class="col">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a style="color: white;" href="/Deneme/Index" class="login100-form-btn">OTOMASYON</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a style="color: white;" href="/Transaction/Transaction" class="login100-form-btn">İŞLEMLER</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a style="color: white;" href="/Stock/Index" class="login100-form-btn">STOK OPERASYONLARI</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a style="color: white;" href="/Operations/Operation" class="login100-form-btn">OPERASYONLAR</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a style="color: white;" href="/Settings/Setting" class="login100-form-btn">KULLANICILAR</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a style="color: white;" href="/Deneme/SaleHistory" class="login100-form-btn">satis gecmisi</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a style="color:white;" href="/Home/Index" class="login100-form-btn">Kullanilmiyor</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a style="color: white;" href="/Shop/Index" class="login100-form-btn">Kullanilmiyor</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a style="color:white;" href="/CategoryTry/Index" class="login100-form-btn">Category Try</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                           
                           
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div id="dropDownSelect1"></div>

    <script src="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/animsition/js/animsition.min.js"></script>

    <script src="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/select2/select2.min.js"></script>

    <script src="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/daterangepicker/daterangepicker.js"></script>

    <script src="~/Content/Menü/colorlib.com/etc/lf//Login_v2/vendor/countdowntime/countdowntime.js"></script>

    <script src="~/Content/Menü/colorlib.com/etc/lf//Login_v2/js/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');</script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816" integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==" data-cf-beacon='{"rayId":"7bd4f9122dbd5481","version":"2023.3.0","b":1,"token":"cd0b4b3a733644fc843ef0b185f98241","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from colorlib.com/etc/lf/Login_v2/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Apr 2023 07:46:39 GMT -->
</html>